html, body {width:100%; height:100%;}
body {margin:0; background-color:rgba(3, 3, 3, 0.3); }
#loginPopup span{ display:inline-block; }
#loginPopup { position:fixed; top:0; bottom:0; left:0; right:0; margin:auto; width:315px; height:410px; xborder:6px solid green;
			/* IE 6-7 */	*top:50%; *left:50%; *margin-top:-185px; *margin-left:-157px; }

/* Assorted Elements */
#login { position:relative; -moz-box-shadow: 5px 5px 5px grey; width:315px; height:370px; overflow:hidden}
#login .btn { text-align:center; cursor:pointer; border:solid orange; line-height:15px; height:15px; 
	padding:9px 0; width:90px; vertical-align:top; -moz-border-radius:7px; height:40px;
	background-image:-moz-linear-gradient(top, #FFF9DA, #FFA700 70%, #FFC978); }
//#login input#formSubmit {position:absolute; bottom:3px; right:3px; border:0 none; cursor:text; height:5px; width:5px;}
#login input {-moz-border-radius:5px; border:solid grey; width:240px; height:30px; font:16px 'Times New Roman'}
#login input.rem {-moz-border-radius:2px; border:solid grey 1px; width:auto; height:auto;}
#loginForm, #resetForm { border:double grey; height:294px; padding:35px; }
#err { background-color:pink; color:red; border:red; height:0; }
#loginPopup a, .click, .clicks {cursor:pointer; text-decoration:underline; color:purple;}
.hide, .none { display:none; }
#loginForm .change{ height:115px; width:239px; }

/* Close Button */
.x { position:absolute; right:25px; top:15px; cursor:pointer }
.x span{ position:absolute; display:block; -moz-border-radius:3px; width:4px; height:15px; background-color:black}
.x .x0 { -moz-transform:rotate(45deg); }
.x .x1 { -moz-transform:rotate(315deg); }

/* Tabs */
#loginTabs { position:relative; z-index:1; overflow:hidden; xmargin-bottom:-3px;}
#loginTabs span{  -moz-box-shadow: 5px 5px 5px grey; width:135px; cursor:pointer; height:35px; 
	-moz-border-radius:16px 16px 0 0; -xmoz-border-radius-topright:35px;  background-color:#fff; 
	text-align:center; font:18px/35px Arial; border:double grey; border-bottom:0; display:none; }
.block {height:3px; margin-bottom:-3px; position:relative; z-index:1; background-color:blue;
	 width:135px; border:double grey; border-width:0 3px;}

/* Tabbed States - set on loginPopup: Log(in), Set(up), Re(set) (T)hank(Y)ou*/
#loginTabs span.in{  background-image:-moz-linear-gradient(top, #fff, #E0EEEE); display:inline-block; }
#loginPopup.in .block{ margin-left: 0; background-color: #E0EEEE }
#loginPopup.in #loginForm { background-color:#C3E4ED; background-image:-moz-linear-gradient(top, #E0EEEE, #C3E4ED 70%, #E0EEEE); }

#loginTabs span.up{ background-image:-moz-linear-gradient(top, #fff, #FFFAFA); }
#loginPopup.up .block{ margin-left: 141px; background-color: #FFFAFA }
#loginPopup.up #loginForm { background-color:#D6CADD; background-image:-moz-linear-gradient(top, #FFFAFA, #D9D9F3 70%, #FFFAFA); }

#loginTabs span.set{ background-image:-moz-linear-gradient(top, #fff, #FEE8D6); }
#loginPopup.set .block{margin-left: 141px; xmargin-left: 202px; background-color: #FEE8D6; xwidth:95px;}
#loginPopup.set #loginForm { background-image:-moz-linear-gradient(top, #FEE8D6, #FFCC99 70%, #FEE8D6); }

#loginTabs span.ty{  background-image:-moz-linear-gradient(top, #fff, #DFFFA5); width:250px }
#loginPopup.ty .block{ margin-left: 0; background-color: #DFFFA5; width:250px;}
#loginPopup.ty #loginForm { background-image:-moz-linear-gradient(top, #DFFFA5, #A2C93A 70%, #DFFFA5); }

/* display tab if matching parent */
#loginPopup.in  #loginTabs span.up,
#loginPopup.up  #loginTabs span.up,
#loginPopup.in.newpass #loginTabs span.set,
#loginPopup.set #loginTabs span.set,
#loginPopup.ty  #loginTabs span.ty{ display:inline-block; }
#loginPopup.in.newpass #loginTabs span.up,
#loginPopup.ty  #loginTabs span.in{ display:none; }

/* Show form matching class. */
#loginForm form{display:none}

#loginPopup.up .signup,
#loginPopup.in .login,
#loginPopup.ty .thankyou,
/* Under .set - Reset Forms */
#loginPopup.set.newpass .newpass,
#loginPopup.set:not(.newpass) .passreq  {display:block}
#loginPopup.set.newpass .passreq {display:none}

/* Under .ty - Confirmation Messages */
.thankyou > div { display:none }

#loginPopup.reset0 .resetFail,
#loginPopup.reset1 .resetOK,
#loginPopup.newpass0 .newpassFail,
#loginPopup.newpass1 .newpassOK,
#loginPopup.apply .u,
#loginPopup.confirm .i {display:block}


/* Special Handling for merged forms of i and u
#loginPopup u, #loginPopup i{ display:none; text-decoration:none; font-style:normal;}
#loginPopup.up u, #loginPopup.in i{display:inline-block}
*/
